name: CI - Build & Push

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    outputs:
      image_uri: ${{ steps.build.outputs.image_uri }}

    steps:
      - uses: actions/checkout@v4

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-north-1

      - run: |
          aws ecr get-login-password --region eu-north-1 \
          | docker login --username AWS --password-stdin \
            301782007642.dkr.ecr.eu-north-1.amazonaws.com

      - name: Build & Push
        id: build
        run: |
          IMAGE_URI=301782007642.dkr.ecr.eu-north-1.amazonaws.com/paktha-strapi-ecs
          docker build -t $IMAGE_URI:${{ github.sha }} .
          docker push $IMAGE_URI:${{ github.sha }}
          echo "image_uri=$IMAGE_URI:${{ github.sha }}" >> $GITHUB_OUTPUT
